.edit-toggle{
  display: flex;
  justify-content: end;
}


.details-container {
 
  width: 100%;
  max-width: 400px;
  // margin: 0 auto;
}


.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}


.icon {
  font-size: 24px;
  color: #4a90e2;
  margin-right: 12px;
}

.label {
  font-weight: 500;
  color: #333;
  width: 150px; 
}


.value {
  color: #555;
  font-size: 14px;
  flex-grow: 1; 
  font-weight: 700;
}


.value.empty {
  color: #aaa;
}

