.drawer-form {

    width: 100%;
    top: 0;
    right: 0;
    height: 100%;

}

.section-title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 9px;
    color: #222;
}



eh-textbox {
    width: 100%;
    display: block;
    max-width: 260px;

}


button {
    font-family: inherit;
}

button.back-btn {
    background: transparent;
    border: 1.5px solid #cfd3d8;
    border-radius: 10px;
    padding: 10px 26px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background: #f5f6f7;
    }
}

button.save-btn {
    background: #6758f3;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 26px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background: #5748e2;
    }
}



eh-table {
    margin-top: 10px;
    display: block;
}



.cluster-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    font-size: 14px;
}

.cluster-table th {
    background: #fafafa;
    font-weight: 600;
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
}

.cluster-table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cluster-table tr:last-child td {
    border-bottom: none;
}


eh-textbox input {
    width: 100%;
    font-size: 15px;
    padding: 10px 12px;
    border: 1px solid #d2d6dc;
    border-radius: 6px;
    background: #fff;
    letter-spacing: 0rem;
}

eh-textbox input:focus {
    border-color: #6758f3;
    outline: none;
    box-shadow: 0 0 0 2px rgba(103, 88, 243, 0.15);
}

.row {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0.1rem;
}

eh-textbox label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    color: #444;
    letter-spacing: 0rem;
}



.clustertable {
    margin-left: 0.5rem;

}



.details-container {
    width: 470px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.detail-row {
    display: grid;
    grid-template-columns: 13px 170px 1fr;
    align-items: center;
    padding: 10px 0;

}

.icon {
    font-size: 18px;
    color: #6b6b6b;
}

.label {
    color: #777;
    font-size: 16px;

}

.value {
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.value.empty {
    color: #b5b5b5;
    font-style: italic;
}

.edit-toggle {
    display: flex;
    justify-content: end;
}