
.layout-content {

  padding: 30px 68px 30px 68px ; 
  overflow: auto;
  
  font-family: "Inter", Arial, sans-serif;
  // background: #f6f6fb;

}

.page-content{
  padding: 1rem;
}


eh-breadcrumbs {
	display: block;
	margin-bottom: 30px;
}


// eh-header {
//   position: sticky;
//   top: 0;
//   z-index: 1000;
//   background: #ffffff;
// }
