/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f8fafc; }

app-view-page eh-textbox .mat-mdc-text-field-wrapper,
app-view-page eh-select .mat-mdc-text-field-wrapper,
app-view-page eh-textarea .mat-mdc-text-field-wrapper,
app-view-page eh-textbox .mdc-text-field,
app-view-page eh-select .mdc-text-field,
app-view-page eh-textarea .mdc-text-field,
app-view-page eh-textbox .mdc-text-field--filled,
app-view-page eh-select .mdc-text-field--filled,
app-view-page eh-textarea .mdc-text-field--filled,
app-view-page eh-textbox .mat-mdc-form-field-flex,
app-view-page eh-select .mat-mdc-form-field-flex,
app-view-page eh-textarea .mat-mdc-form-field-flex,
app-view-page eh-textbox .mat-mdc-form-field-infix,
app-view-page eh-select .mat-mdc-form-field-infix,
app-view-page eh-textarea .mat-mdc-form-field-infix {
	background-color: #f8fafc !important;
	border-radius: 0.5rem !important;
	overflow: hidden !important;
}

app-view-page eh-textbox .mat-mdc-form-field-focus-overlay,
app-view-page eh-select .mat-mdc-form-field-focus-overlay,
app-view-page eh-textarea .mat-mdc-form-field-focus-overlay {
	background-color: transparent !important;
}

app-view-page eh-textbox input,
app-view-page eh-textarea textarea,
app-view-page eh-select .mat-mdc-select-trigger,
app-view-page eh-select .mat-mdc-select-value {
	background-color: transparent !important;
}